Diabetes mellitus prediction.json
[{"id":"b83b8f44.9c0e9","type":"tab","label":"Diabets Prediction","disabled":false,"info":""},{"id":"be648cbf.aa95f","type":"ui_form","z":"b83b8f44.9c0e9","name":"","label":"","group":"43faa937.961538","order":1,"width":0,"height":0,"options":[{"label":"preg","value":"preg","type":"number","required":true,"rows":null},{"label":"plas","value":"plas","type":"number","required":true,"rows":null},{"label":"pres","value":"pres","type":"number","required":true,"rows":null},{"label":"Skin","value":"Skin","type":"number","required":true,"rows":null},{"label":"test","value":"test","type":"number","required":true,"rows":null},{"label":"mass","value":"mass","type":"number","required":true,"rows":null},{"label":"pedi","value":"pedi","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":false,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","Skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":320,"wires":[["fc3337f4.dc3ad8","d8602134.9716b"]]},{"id":"fc3337f4.dc3ad8","type":"debug","z":"b83b8f44.9c0e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":400,"wires":[]},{"id":"d8602134.9716b","type":"function","z":"b83b8f44.9c0e9","name":"pre-token","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"Skin\",msg.payload.Skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"CDJs73s4XywhhAVcjwW3V-bRpXo0bm4hlunNO2AQWzB8\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":260,"wires":[["8f5d7b56.8da198"]]},{"id":"8f5d7b56.8da198","type":"http request","z":"b83b8f44.9c0e9","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":552.0000038146973,"y":304.00000286102295,"wires":[["9f426d91.5ef62","8a82cb35.b128e8"]]},{"id":"9f426d91.5ef62","type":"debug","z":"b83b8f44.9c0e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"8a82cb35.b128e8","type":"function","z":"b83b8f44.9c0e9","name":"Pre Prediction","func":"var preg = global.get(\"preg\")\nvar plas = global.get(\"plas\")\nvar pres = global.get(\"pres\")\nvar Skin = global.get(\"Skin\")\nvar test = global.get(\"test\")\nvar mass = global.get(\"mass\")\nvar pedi = global.get(\"pedi\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \"plas\", \"pres\", \"Skin\", \"test\", \"mass\", \"pedi\", \"age\"]],\"values\": [[preg,plas,pres,Skin,test,mass,pedi,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":744.0000076293945,"y":256.0000021457672,"wires":[["b95aa559.7ab7c8"]]},{"id":"b95aa559.7ab7c8","type":"http request","z":"b83b8f44.9c0e9","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/26888c7a-e747-4932-b075-66e33836b235/predictions?version=2020-10-17","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":280,"wires":[["fe25479.64654b8","10bb9003.adef5"]]},{"id":"fe25479.64654b8","type":"debug","z":"b83b8f44.9c0e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1122.9999914169312,"y":364.00000381469727,"wires":[]},{"id":"67fe15a3.25819c","type":"inject","z":"b83b8f44.9c0e9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":160,"wires":[["d8602134.9716b"]]},{"id":"761ad83c.974108","type":"debug","z":"b83b8f44.9c0e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":953.9999885559082,"y":147.0000057220459,"wires":[]},{"id":"10bb9003.adef5","type":"function","z":"b83b8f44.9c0e9","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":799.6000595092773,"y":188.00000190734863,"wires":[["761ad83c.974108","d6fb2b60.dda4e8"]]},{"id":"d6fb2b60.dda4e8","type":"ui_text","z":"b83b8f44.9c0e9","group":"43faa937.961538","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":917.6000366210938,"y":421.20001220703125,"wires":[]},{"id":"43faa937.961538","type":"ui_group","z":"","name":"New","tab":"59eb0e7c.15c4c","order":1,"disp":true,"width":"6","collapse":false},{"id":"59eb0e7c.15c4c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]